<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suraj.waext">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Tweaks for WhatsApp" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReminderReceiver">
            <intent-filter>
                <action android:name="com.suraj.waext.ReminderIntent" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LockPreferencesService"
            android:exported="true" />
        <service
            android:name=".ReminderService"
            android:exported="true" />

        <activity
            android:name=".LockActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".ReminderActivity"
            android:exported="true" />
        <activity
            android:name=".ColorChooserActivity"
            android:label="@string/title_activity_color_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".CropActivity"
            android:exported="true" />
        <activity android:name=".WhiteListActivity" />
        <activity
            android:name=".WhatsAppContactPickerActivity"
            android:label="@string/picker_activity_text" />
        <activity
            android:name=".BackupManagerActivity"
            android:exported="true" />
        <activity
            android:name=".StatsActivity"
            android:exported="true"
            android:label="@string/title_activity_stats" />
        <activity android:name=".BlockedContactsActivity"></activity>
    </application>

</manifest>